<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>价值需求测评报告统计列表</title>
    <script src="js/jquery-3.4.1.min.js" type="text/javascript"></script>
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="js/zoomify.min.js" type="text/javascript"></script>
    <script src="js/rolldate.min.js" type="text/javascript" ></script>
    <link rel="icon" type="image/x-icon" href="../static/favicon/favicon.ico">
</head>
<body>
​<header class="mt-5 mb-5 text-center">
    <p style="font-size: 22px"><strong>深圳市xxx科技有限公司</strong><br>
    <p style="font-size: 22px">价值需求测评报告统计</p>
    </p>
</header>
<table class="table table-bordered">
    <thead>
    <tr>
        <th>姓名</th>
        <th>年龄</th>
        <th>电话号码</th>
        <th>职位</th>
        <th>性别</th>
        <th>提交时间</th>
        <th>操作</th>
    </tr>
    </thead>
    <tbody>
    <tr  th:each="pages:${userList}">
        <td th:text="${pages.name}"></td>
        <td th:text="${pages.age}"></td>
        <td th:text="${pages.phone}"></td>
        <td th:text="${pages.position}"></td>
        <td th:text="${pages.gender}"></td>
        <td th:text="${pages.createTime}"></td>
        <td>
            <a th:href="@{'/getDetails?id='+${pages.id}}"><button class="alert-info">查看报告详情</button></a>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>